{% extends 'polls/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Saad's Mart!</h1>
      <p>Saad's Mart is an online shopping platform in Bangladesh. Saad's Mart is here for your 24 hour's of services.You can buy anything you want in your daily life.You can trust us because we provide the original and genuine product. Happy Shopping with Saad's Mart </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>How the journey begins</h2>
        <p> Nothing ,Quarentine Effect :3 </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Future Goals</h2>
        <p>I can't Tell you,because i even don't know this  </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Saad's Mart in 2020</h2>
        <p>Just started</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}
